<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ヘッダーの部分テンプレート呼び出し %>
    <%= render 'layouts/header'%>

    <%# フラッシュメッセージの表示 部分テンプレート呼び出し %>
    <%= render 'layouts/flash'%>

    <%= yield %>

  </body>
</html>
